<!--Section: Contact v.2-->
<section class="general mb-4 form-group">

    <!--Section heading-->
    <div class="col-12 text-center">
        <h2 class="h2-responsive font-weight-bold text-center my-4">Carga Producto
            <mdb-icon id="cargar" fas icon="angle-down" (click)="mostrar()" *ngIf="!ver"></mdb-icon>
            <mdb-icon fas icon="angle-up" (click)="mostrar()" *ngIf="ver"></mdb-icon>

        </h2>
    </div>


    <!--Section description-->

    <div class="row animated fadeInDown" *ngIf="ver">

        <!--Grid column-->

        <div class="col-md-1 text-center">
        </div>
        <div class="col-md-10 mb-md-0 mb-5">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-9">
                    <div class="md-form mb-0">
                        <input type="text" id="name" name="name" placeholder="Titulo" class="form-control" [(ngModel)]="nuevoProducto.nombre" maxlength="12" required>
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="md-form mb-0">
                        <input type="number" id="costo" placeholder="costo" name="costo" class="form-control" maxlength="3" [(ngModel)]="nuevoProducto.costo" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="md-form mb-0">
                        <input type="text" rows="3" id="descripcion" placeholder="descripcion" name="descripcion" class="form-control" maxlength="80" [(ngModel)]="nuevoProducto.descripcion" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="md-form mb-0">
                            <input type="file" id="archivo" name="archivo" class="form-control" (change)="detectFiles($event)" required>
                        </div>
                    </div>
                </div>
                <div class="md-form mb-0 col-3">
                    <button type="button" class="btn btn-secondary" (click)="cargar()">Guardar Producto</button>
                </div>
            </div>

            <div class="status"></div>
        </div>

        <div class="col-md-1 text-center">

        </div>


    </div>

</section>