<div class="col-12 mt-5 mb-5">
    <button class="btn btn-dark btn-block" (click)="descargaLocales()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar
        información de locales</button>

    <div class="mx-auto">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre del local </th>
            <td mat-cell *matCellDef="let element" (click)="elegir(element)"> {{element.nombre}} </td>

        </ng-container>
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>

            <td mat-cell *matCellDef="let element" (click)="elegir(element)"> {{element.direccion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <app-detalle-local [local]="productoElegido" *ngIf="productoElegido" (modal)="ocultar($event)"> </app-detalle-local>

</div>