<div class="spinnerInterceptor heartBeat" *ngIf="showSpinner">
    <img style="height: 300px; width: 300px;" src="../../../assets/icons/icon_shop.svg">
</div>
<div class="col-md-10 ml-5 mb-5 text-center">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="col-12">
                <div class="md-form mb-3">
                    <label class="item-intro text-muted" for="detalle">Nombre del local</label>
                    <input type="text" id="name" name="name" placeholder="Ingrese nombre del local" class="form-control"
                        [(ngModel)]="localNuevo.nombre" maxlength="20" required>
                </div>
            </div>
            <div class="col-12">
                <div class="md-form mb-5">
                    <label class="item-intro text-muted" for="detalle">Dirección del local</label>
                    <input type="text" rows="3" id="direccion" placeholder="Ingrese dirección" name="direccion"
                        class="form-control" maxlength="100" [(ngModel)]="localNuevo.direccion" required />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="md-form mb-5 col-12">
            <button type="button" class="btn btn-secondary" (click)="cargar()">Aceptar</button>
        </div>
    </div>
</div>