<div id="id01" style="display:flex; padding: 15px;" class="modal" tabindex="-1" role="dialog" aria-hidden="true">



    <div class=" col-md-12 col-lg-12 col-sm-10" role="document"
        style=" max-height: calc(200vh - 200px); padding: 2px;    overflow-y: auto;  overflow-x: hidden">
        <div class="close-modal" (click)="destruir()" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="card">
            <div class="modal-content">
                <span (click)="destruir()" class="close h1" title="Close Modal"
                    style="font-size: 50pt;text-align: right">x</span>

                <div class="text-center mb-4">
                    <h2 class="h1 text-center font-weight-bold">Usuario seleccionado
                    </h2>


                </div>

                <div class="row">

                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="card-body md-form">
                            <div class="row">
                                <div class="col-8 mt-5">
                                    <label class="item-intro text-muted" for="stock">Modificación de Local</label>
                                    <div class="form-group">
                                        <select id="local" class="browser-default custom-select"
                                            (change)="onChange($event.target.value)">
                                            <option value="Sin local asignado"> </option>
                                            <option value="{{local}}" *ngFor="let local of listaLocales">{{local}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-3 mt-2">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modificarLocal()">Modificar</button>
                                    </div>
                                </div>
                                <div class="col-8 mt-5">
                                    <label class="item-intro text-muted" for="stock">Modificación de Perfil</label>
                                    <div class="form-group">
                                        <select id="local" class="browser-default custom-select"
                                            (change)="onChangePerfil($event.target.value)">
                                            <option value="admin">Admin</option>
                                            <option value="usuario">Usuario</option>
                                        </select>
                                    </div>
                                    <div class="col-3 mt-2">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modificarPerfil()">Modificar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="spinnerInterceptor heartBeat" *ngIf="this.showSpinner">
                            <img src="../../../assets/icons/icon_shop.svg">
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="{{producto.foto}}" class="card-img-top" alt="{{producto.foto}}"
                            style=" max-height: 150px;  margin-left: auto; margin-right: auto;   width: auto">
                        <h4 class="text-uppercase">Email: {{producto.email}}</h4>
                        <p class="item-intro text-muted">Nombre: {{producto.nombre}}</p>
                        <p class="item-intro text-muted">Apellido: {{producto.apellido}}</p>
                        <p class="item-intro text-muted">Perfil: {{producto.perfil}}</p>
                        <p class="item-intro text-muted">Local: {{producto.local}}</p>

                        <div class="col-lg-12 mx-auto" *ngIf="this.sinDatosParaDescargar">
                            <button class="btn btn-danger mt-2 mb-3" type="button"
                                (click)="descargaUsuarioMovimientos()"><i class="fa fa-file-pdf-o"
                                    aria-hidden="true"></i> Descargar Logs de Usuarios
                                y sus movimientos</button>
                        </div>
                        <div class="col-lg-12 mt-2 mb-2 mx-auto" *ngIf="!this.sinDatosParaDescargar">
                            <h3 style="color: brown;">Atencion! El usuario {{producto.nombre}}
                                {{producto.apellido}}<br>
                                todavia no tiene logs para mostrar.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>