<div id="id01" style="display:flex; padding: 15px;" class="modal" tabindex="-1" role="dialog" aria-hidden="true">



    <div class=" col-md-12 col-lg-12 col-sm-10" role="document"
        style=" max-height: calc(200vh - 200px); padding: 2px;    overflow-y: auto;  overflow-x: hidden">
        
        <span (click)="destruir()" class="close h1" title="Close Modal" style="font-size: 60pt;text-align: left">×</span>

            
        <div class="card">
            <div class="row my-3 animated bounce ml-4">
                <h2 class="h1 text-center font-weight-bold">Producto seleccionado
                </h2>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">

                    <div class="card-body md-form">                        
                        <div class="row">
                            <div class="col-8">
                                <label class="item-intro text-muted" for="stock">Modificación de Stock (+ / -)</label>
                                <input type="number" name="stock" id="stock" class="form-control"
                                    placeholder="ModificarStock" [(ngModel)]="nuevoStock" *ngIf="modificar">
                                <br>
                                <label class="item-intro text-muted" for="detalle">Motivo</label>
                                <input type="text" name="detalle" id="detalle" placeholder="Describa el motivo"
                                    class="form-control mt-2" *ngIf="modificar" [(ngModel)]="nuevoStockDetalle">
                                <br>
                                <button type="button" class="btn btn-secondary mt-5 mr-0"
                                    (click)="agregarStock()">Modificar</button>
                                <br>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="col-1">
                        <div class="spinnerInterceptor heartBeat" *ngIf="showSpinner">
                                <img src="../../../assets/icons/icon.png">
                            </div>
                </div>
                <div class="col-5">
                    <img src="{{producto.url}}" class="card-img-top" alt="{{producto.url}}"
                        style=" max-height: 150px;  margin-left: auto; margin-right: auto;   width: auto">
                    <h4 class="text-uppercase">{{producto.nombre}}</h4>
                    <p class="item-intro text-muted">Descripcion {{producto.descripcion}}</p>
                    <p class="item-intro text-muted">Stock {{producto.stock}}</p>
                
                </div>
            </div>







            
            <!-- 
            <div class="col-12">
                <h1>Listado de Cambios</h1>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Local">
                        <th mat-header-cell *matHeaderCellDef> Local </th>
                        <td mat-cell *matCellDef="let element"> {{element.local}} </td>
                    </ng-container>                    
                    <ng-container matColumnDef="Detalle">
                        <th mat-header-cell *matHeaderCellDef> Detalle </th>
                        <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <hr>

            </div> -->
        </div>




    </div>






